/*
 * Odroid-U3/X2 board device tree source
 *
 * Copyright (c) 2014 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * SPDX-License-Identifier:	GPL-2.0+
 */

/dts-v1/;
#include "exynos4412.dtsi"
#include <dt-bindings/gpio/gpio.h>


/ {
	model = "Tiny4412 based on Exynos4412";
	compatible = "samsung,tiny4412", "samsung,exynos4412";

	chosen {
		stdout-path = "serial0";
	};

	aliases {
		i2c0 = "/i2c@13860000";
		i2c1 = "/i2c@13870000";
		i2c2 = "/i2c@13880000";
		i2c3 = "/i2c@13890000";
		i2c4 = "/i2c@138a0000";
		i2c5 = "/i2c@138b0000";
		i2c6 = "/i2c@138c0000";
		i2c7 = "/i2c@138d0000";

		serial0 = "/serial@13800000";
		console = "/serial@13800000";
		
		mmc2 = "/sdhci@12530000";
		mmc4 = "/dwmmc@12550000";

	};

	serial@13800000 {
		compatible = "samsung,exynos4210-uart";
		status = "okay";
	};

	serial@13810000 {
		compatible = "samsung,exynos4210-uart";
		status = "disabled";
	};
	
	serial@13820000 {
		compatible = "samsung,exynos4210-uart";
		status = "disabled";
	};
	
	serial@13830000 {
		compatible = "samsung,exynos4210-uart";
		status = "disabled";
	};

	serial@13840000 {
		compatible = "samsung,exynos4210-uart";
		status = "disabled";
	};


	sdhci@12510000 {
		compatible = "samsung,exynos4412-sdhci";
		status = "disabled";
	};
	
	sdhci@12520000 {
		compatible = "samsung,exynos4412-sdhci";
		status = "disabled";
	};

	sdhci@12530000 {
		compatible = "samsung,exynos4412-sdhci";
		samsung,bus-width = <4>;
		samsung,timing = <1 2 3>;
		cd-gpios = <&gpk2 2 0>;
	};

	sdhci@12540000 {
		compatible = "samsung,exynos4412-sdhci";
		status = "disabled";
	};


	dwmmc@12550000 {
		compatible = "samsung,exynos4412-dw-mshc";
		samsung,bus-width = <8>;
		samsung,timing = <2 1 0>;
		samsung,removable = <0>;
		fifoth_val = <0x203f0040>;
		bus_hz = <400000000>;
		div = <0x3>;
		index = <4>;
	};

	emmc-reset {
		compatible = "samsung,emmc-reset";
		reset-gpio = <&gpx1 1 GPIO_ACTIVE_LOW>;
	};

	pwm@139D0000 {
		compatible = "samsung,exynos4210-pwm";
		reg = <0x139D0000 0x100>;
		samsung,pwm-outputs = <0>,<1>;
		#pwm-cells = <3>;
		enable-gpios = <&gpd0 0 GPIO_ACTIVE_HIGH>;
	}; 
	
	ehci@12580000 {
		compatible = "samsung,exynos-ehci";
		reg = <0x12580000 0x100>;		
		
		#address-cells = <1>;
		#size-cells = <1>;
		phy {
			compatible = "samsung,exynos-usb-phy";
			reg = <0x125B0000 0x100>;
		};
	};
	
	usb-phy-reset {
		compatible = "smsc,usb-phy-reset";
		reset-gpio = <&gpm2 4 GPIO_ACTIVE_LOW>;
	};
};

